<div class="ctnainer" [class]="clase">
  <div class="cajita">
    <div class="close-boton">
      <span (click)="close()">&times;</span>
    </div>
    <div class="bxxx">
      <div class="imagensita">
        <img src="assets/happy-svgrepo-com.svg" alt="">
      </div>
      <div class="contenido">
        <h3>Welcome!</h3>
        <p>Built with
          <a href="https://angular.io/" target="_blank">Angular</a> - <a
            href="https://en.wikipedia.org/wiki/Key_derivation_function">KDF PASSWORD
            STRATEGY</a>. By <a href="https://github.com/Bryan-Herrera-DEV/">Bryan
            Herrera</a> with ❤️.
        </p>
      </div>
    </div>
  </div>
</div>
